{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Ficha de Inscrição - Comunidade
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'formulario/css/comunidade.css' %}">
{% endblock %}

{% block content %}
<div class="top-bar">
</div>

<div class="header">
    <div class="logo">
        <img src="{% static 'formulario/img/unieuro.png' %}" alt="UNIEURO">
        <div class="logo-text">
            <strong>Centro Universitário Unieuro</strong><br>
            <small>Sua escolha para um grande futuro.</small>
        </div>
    </div>
</div>

<div class="login-banner">
    FICHA DE INSCRIÇÃO COMUNIDADE
</div>
{% comment %} Adicione um ID ao formulário e o CSRF token {% endcomment %}
<form id="inscricao-form">
    {% csrf_token %}
    <h6>Dados Pessoais do Inscrito</h6>
    <div class="grid">
        <input type="text" id="nome_inscrito" name="nome_inscrito" class="apenas-letras" placeholder="Nome Completo" required>
        <input type="text" id="cpf_inscrito" name="cpf_inscrito" class="cpf" placeholder="CPF" required>
        <input type="date" id="data_nascimento" name="data_nascimento" placeholder="Data de Nascimento" required>
        <input type="text" id="rua" name="rua" placeholder="Rua" required>
        <input type="text" id="bairro" name="bairro" placeholder="Bairro" required>
        <input type="text" id="cidade" name="cidade" placeholder="Cidade" required>
        <input type="text" id="cep" name="cep" placeholder="CEP" required>
        <select id="uf" name="uf" required>
            <option value="" disabled selected>UF</option>
            <option value="DF">DF</option>
        </select>
        <select id="estado_civil_inscrito" name="estado_civil_inscrito" required>  
        <option value="" disabled selected>Estado Civil</option>
        <option value="Solteiro">Solteiro(a)</option> 
        <option value="Casado">Casado(a)</option>
            </select>
        <select id="motivos_acompanhamento" name="motivos_acompanhamento" multiple required>
        <option value="" disabled>Motivos da Busca (segure Ctrl para vários)</option>
        <option value="ansiedade">Ansiedade</option>
        <option value="depressao">Depressão</option>
            </select>
        <input type="text" id="telefone_inscrito" name="telefone_inscrito" class="telefone" placeholder="Telefone Celular" required>
        <select id="medicamentos_usados" name="medicamentos_usados"  multiple required>
            <option value="" disabled selected>Uso de Medicação</option>
            <option value="sim">Sim</option>
            <option value="nao">Não</option>
            <option value="prefiro_nao_dizer">Prefiro não dizer</option>
        </select>
        <input type="email" id="email_inscrito" name="email_inscrito" placeholder="E-mail" required>
        <select id="pcd_neurodivergente" name="pcd_neurodivergente"  multiple required>
            <option value="" disabled selected>Pessoas com Deficiência e/ou Neurodivergências</option>
            <option value="sim">Sim</option>
            <option value="nao">Não</option>
            <option value="prefiro_nao_dizer">Prefiro não dizer</option>
        </select>
        <select id="identidade_genero" name="identidade_genero"  required>
            <option value="" disabled selected>Identidade de Gênero</option>
            <option value="Feminino">Feminino</option>
            </select>
        <select id="doencas_fisicas" name="doencas_fisicas"  multiple required>
            <option value="" disabled selected>Doenças Físicas Diagnosticadas</option>
            <option value="nenhuma">Nenhuma</option>
            </select>
        <select id="cor_etnia" name="cor_etnia" required>
            <option value="" disabled selected>Cor e Etnia</option>
            <option value="Branca">Branca</option>
            </select>
        <select id="tipo_terapias" name="tipo_terapias" multiple required>
        <option value="" disabled>Tipo de Terapia (segure Ctrl para vários)</option>
        <option value="familia">Terapia Familiar</option>
        <option value="grupo">Terapia em Grupo</option> 
            </select>
        <select id="religiao" name="religiao" required>
        <option value="" disabled selected>Religião</option>
        <option value="Católico">Católica</option> 
        <option value="Evangélico">Evangelho</option>
            </select>
        <select id="disponibilidade" name="disponibilidade"  multiple required>
            <option value="" disabled selected>Disponibilidade</option>
            <option value="manha">Manhã</option>
            </select>
    </div>

    <div class="checkbox">
        <input type="checkbox" id="menorIdade" name="menorIdade">
        <label for="menorIdade">O Inscrito é menor de idade?</label>
    </div>

    <h6>Dados do Responsável Legal</h6>
    <div class="grid" id="secao-responsavel">
        <input type="text" id="nome_responsavel" name="nome_responsavel" class="apenas-letras" placeholder="Nome Completo">
        <input type="email" id="email_responsavel" name="email_responsavel" placeholder="E-mail">
        <input type="text" id="cpf_responsavel" name="cpf_responsavel" class="cpf" placeholder="CPF">
        <select id="estado_civil_responsavel" name="estado_civil_responsavel">
            <option value="" disabled selected>Estado Civil</option>
            </select>
        <input type="text" id="telefone_responsavel" name="telefone_responsavel" class="telefone" placeholder="Telefone Celular">
        <input type="text" id="parentesco_responsavel" name="parentesco_responsavel" class="apenas-letras" placeholder="Grau de Parentesco">
    </div>

    <h6>Contato(s) de Urgência</h6>
    <div class="grid">
        <input type="text" id="nome_urgencia" name="nome_urgencia" class="apenas-letras" placeholder="Nome Completo" required>
        <input type="text" id="telefone_urgencia" name="telefone_urgencia" class="telefone" placeholder="Telefone Celular" required>
    </div>

    <small class="acordo">
        <strong> Ao preencher o presente formulário e submeter minha inscrição para atendimento na Clínica Escola de
            Psicologia do Unieuro, declaro que autorizo,
            em conformidade com o inciso I do art. 7, da Lei nº 13.709/2018 (Lei Geral de Proteção de Dados Pessoais –
            LGPD) que os dados pessoais aqui fornecidos
            sejam tratados e utilizados unicamente para a finalidade exclusiva de compor o banco de dados dos
            atendimentos a serem realizados sendo a ciência, o tratamento e
            o uso deles restrito aos membros da Clínica Escola de Psicologia, nos termos da LGPD.
            Declaro ainda que tenho conhecimento de que a revogação da presente autorização poderá ser feita a qualquer
            momento, mediante solicitação formal a ser registrada
            pelo e-mail: psicologia@unieuro.edu.br
        </strong>
        <div class="checkbox">
            <input type="checkbox" id="deAcordo" name="deAcordo" required>
            <label for="deAcordo">De Acordo</label>
        </div>
    </small>

    <button type="submit">SALVAR INSCRIÇÃO</button>
</form>

<!-- REMOVI A CHAMADA PARA O ARQUIVO .JS EXTERNO DAQUI -->

{% endblock %}


{% block scripts %}
<script src="{% static 'formulario/js/comunidade.js' %}"></script>
{% endblock %}
